body {
    background-image: linear-gradient(to right, rgba(141, 189, 250, 0.4), rgba(199, 145, 255, 0.4));
    font-family: cambria;
    font-size: 130%;
    background-attachment: fixed;
}

label {
    text-align: left;
}

h1 {
    font-size: 80px;
    font-weight: bold;
}

h2 {
    padding-left: 15px;
    font-weight: 600;
}

.form-control:valid {
    background-color: lavender;
}


.mystyle {
    background-image: url(bg.jpg);
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
    /* Resize the background image to cover the entire container */
}

#filter {
    padding: 5vh 0;
}

#filterresult {
    height: 100vh;
    padding-top: 5vh;
}

.btnclass {
    border-radius: 0%;
    /*    background-color: #7A51A1;*/
    border: 0px;
}

.btnclass:hover {
    /*    background-color: #9172EC;*/
    /*        background-color: #7A51A1;*/

    transition: 0s;
    transform: scale(1.03);
}

#vital-signs {

    background-color: lavenderblush;

}

#lab-values {
    background-color: beige;
}