body {
    font-family: georgia;
    font-size: 130%;
}

label {
    text-align: left;
}

h1 {
    font-size: 64px;
}

.form-control:valid {
    background-color: lavender;
}

.btn{

}

.mystyle{
	background-image: url(bg.jpg);
	 background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

#filter{
	background-image: linear-gradient(to right, rgba(141,189,250,0.4), rgba(199,145,255,0.4));
	padding:5vh 0;
}

#filterresult{
	background-image: linear-gradient(to right, rgba(141,189,250,0.4), rgba(199,145,255,0.4));
	height: 100vh;
	padding-top: 5vh;
}

.resultbox{
	height: 90vh;
	overflow: scroll;
}

#resulttable table tr td,th{
	text-align: center;
}






/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
